.profileCover {
    background-image: url(../../images/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Barlow', sans-serif;
}

.card-image {
    background-image: url(../../images/avatar.png);
    height: 250px;
    background-size: cover;
    background-position: center;    
}

.activitiesList {
    margin: 2px;
    background-color: black;
}

.card {
    width: 250px;
    padding: 5px;
    border-radius: 5px;
    margin-top: 50px;
}

.card-action a {
    color: rgb(43, 204, 204) !important;
}

.material-icons {
    vertical-align: middle;
    margin: 5px;
}

.card-action {
    padding: 0px !important;
}

.album-photo {
    width: 250px;
    height: 250px;
    margin: 5px;
    border-radius: 5px;
    padding: 0px;
}

#gallery {
    padding-left: 100px;
    margin-top: 35px;
}

.card-action:hover { 
    background-color: rgb(236, 248, 247); 
   
  }

img {
    border-radius: 5px;
}

