.nav-wrapper {
    margin: 0px;
    padding-bottom: 10px;
    font-family: 'Barlow', sans-serif;
}

.logo {
    width: 160px;
    /* vertical-align: middle; */
    margin-left: 115px;
    margin-bottom:2px;
    margin-top:5px;
}

.ball {
    height: 54px;
    margin-bottom:2px;
    margin-top:5px;
    animation-delay: 1s;
    animation-iteration-count: 2;
}

nav ul a {
    /* color: rgb(43, 204, 204); */
    color: black;
    font-size: 20px;
    font-weight: bold;
}

#nav-mobile {
    margin-right: 115px;
}

nav {
    background-color: rgb(250, 245, 245);
}

/* @media only screen and (max-width: 992px) {
    nav .brand-logo {
        left: 20%;
    }
    nav ul a {
        padding: 0 5px;
    }
} */